/url/cache
/.emacs.desktop
/auto-save-list
/.session
/custom.el
*.elc
CVS
.svn
*~
.cvsignore
.*.lock
/tramp
/TODO
/todos
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
\#*
/elpa
/snippets
site-lisp/package/
/swank
/.mc-lists.el
/var
/.sqli_history
/frame-restore-parameters
/eshell
/.smex-items
/server
ido.last
recentf
/abbrev_defs
/semanticdb
